body{
  color:#453221;
  font-family:"din_next_lt_proregular"; 
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  width:100%;
}

.carousel{
  margin-bottom: 0px !important;
  

}
input[type="text"]{
  height:35px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  min-width: 940px;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
  border: 1px solid white;
  background-color: white;

}
.submit-btn:hover, .submit-btn:focus{
  background-position:0 0 !important;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
  background-color:#ffffff;
  box-shadow: :0px 0px 0px rgba(0, 0, 0, 0.0) inset !important;
  -webkit-box-shadow:inset 0 3px 8px rgba(0, 0, 0, 0.0) !important;
}
.home-navbar {
  font-family:'din_next_rounded_lt_probold';
  font-size: 18px;
  margin-bottom: 1px;

}
.home-header {
  background-color:rgb(175,209,38);
}

.navbar .nav > li > a{
  text-shadow:0 0px 0 #ffffff;
}

.paddingTop10px{
  padding-top: 10px;
}

.paddingTop20px{
  padding-top: 20px;
}

.paddingTop30px{
  padding-top: 30px;
}
.paddingbt-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.marginBottom0px{
  margin-bottom: 0px !important;
}
.padding-5{
  padding: 5px
}


/*Footer*/
#footer {
  height: 90px;
  background-color:rgb(175,209,38);
  
}

.footerImage{
  float:left;
  margin-top: -23px;
}

.footerSosMed{
  font-family: "din_next_lt_probold";
  margin-top: 24px;
  height: 22px; 
}
.copyright{
  font-family: "din_next_lt_promedium"
}

a:link, a:active, a:visited{
  color:#453221;
}
.footerText{
  font-family: "din_next_lt_probold";
  float:left;
  margin-top:25px;
  font-weight: bold;
  width: 360px;
}
.footer-link{
  font-family: "din_next_lt_promedium"
  float:right;
}
.footer-powered{
  font-family: "din_next_lt_probold";
  float:right;
}

.margin-bottom-40{
  margin-bottom: 40px;
}
.nav-tabs{
  border-bottom: 0px solid #ddd
}

.nav-tabs > li {
  padding: 0px 22px !important;
}

.header-logo{
  margin-top: 15px;
  margin-bottom: 20px;
  background-image: url('../img/logo.png');
  height:60px;
  background-repeat: no-repeat;
  background-position: center;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.margin-top30{
  margin-top: 30px !important;
}
.margin-top20 {
 margin-top: 20px !important;
}
.margin-bottom20{
  margin-bottom: 20px;
}
.margin-left20{
  margin-left: 20px;
}
.margin-left15{
  margin-left: 15px;
}
.margin-right20{
  margin-right: 20px;
}


.padding-right20{
  padding-right: 20px
}
.padding-left20{
  padding-left: 20px
}
.padding-left30{
  padding-left: 30px
}
.padding20{
  padding:20px;
}
.padding-bottom70{
  padding-bottom: 70px
}
.paddinglr20{
  padding:0px 20px;
}
.padding-tb20{
  padding: 20px 0px;
}
.padding-bottom20{
  padding-bottom:20px;
}




.navbar .nav > li > a{
  color: #453221;
}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
  background-color: white;
}


.text-white{
  color:white;
}



p.content-header{
  font-family:'din_next_rounded_lt_probold';
  font-weight: bold;
  font-size: 20px;
  margin-top: 12px;
}
p.about-content1{
  font-family: "din_next_lt_proregular";
  font-size: 19px;
  line-height:1.3;
}
p > .italic{
  font-style: italic;;
}

/*Contact*/
hr{
  margin:0px 0px !important;
  border-top: 1px solid rgb(175,209,38);
  border-bottom: 1px solid #ffffff;
}
.line-weight1{
  line-height: 1;
}
p.text-wrap{
  text-wrap:normal;
}
p.width11{
  width: 11em;
}

.box{
  border: 1px solid ;
  border-color: rgb(175,209,38);
  border-radius: 5px;
  padding:18px;
  margin-bottom: 20px;
}
.border-left{
  border-left: 1px;
}

.left-border{
  border-left: 1px solid rgb(175,209,38)
}


/*ABOUT*/
.font-normal-b{
  font-family: "din_next_lt_probold";
  display: inline;
}
.font-normal-m{
  font-family: "din_next_lt_promedium";
  display: inline;
}
.font-normal-i{
 font-family: "din_next_lt_promedium_italic";
}
.font-normal-mi{
  font-family: "din_next_lt_promedium_italic";
  display: inline;
}
.font-normal-r{
  font-family: "din_next_lt_proregular";
  display: inline;
}
.font-round-r{
  font-family: "din_next_rounded_lt_proRg";
  display: inline;
}
.font-round-b{
  font-family: "din_next_rounded_lt_probold";
  display: inline;
}
.font-round-m{
  font-family: "din_next_rounded_lt_promedium";
  display: inline;
}
.about-content{
  font-size: 16px;
  margin-bottom: 40px;
}
.color-green{
  color:#bcd630;
}
.ft-sz-13{
  font-size: 13px;
}
.ft-sz-16{
  font-size: 16px;
}
.ft-sz-18{
  font-size: 18px
}
.ft-sz-19{
  font-size: 19px
}
.ft-sz-20{
  font-size: 20px
}
.ft-sz-21{
  font-size: 21px
}
.ft-sz-22{
  font-size: 22px
}
.ft-sz-23{
  font-size: 23px
}

.ft-sz-24{
  font-size: 24px
}

.ft-sz-25{
  font-size: 25px
}

.ft-sz-29{
  font-size: 29px
}



.contactus-content{
  line-height: 1.4;
  font-size: 16px;
}
