body{
  color:#453221;
}
.home-navbar {
  min-width: 3000px;

}
.home-header {
  background-color:rgb(175,209,38);
}

.paddingTop10px{
  padding-top: 10px;
}

.paddingTop20px{
  padding-top: 20px;
}

.paddingTop30px{
  padding-top: 30px;
}


.marginBottom0px{
  margin-bottom: 0px !important;
}



/*Footer*/
#footer {
  height: 90px;
  background-color:rgb(175,209,38);
  margin-top: -20px;
}

.footerImage{
  float:left;
  margin-top: -18px;
}

.footerSosMed{
  margin-top: 5px;
}
.footerText{
  float:left;
  margin-top:25px 
}


.margin-bottom-40{
  margin-bottom: 40px;
}

.nav-tabs > li {
  padding: 0px 27px !important;
}

.header-logo{
  margin-top: 15px;
  background-image: url('../img/logo.png');
  height:60px;
  background-repeat: no-repeat;
  background-position: center;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.margin-top30{
  margin-top: 30px !important;
}
.margin-top20 {
 margin-top: 20px !important;
}
.margin-bottom20{
  margin-bottom: 20px;
}
.margin-left20{
  margin-left: 20px;
}
.margin-right20{
  margin-right: 20px;
}


.padding-right20{
  padding-right: 20px
}
.padding20{
  padding:20px;
}
.padding-bottom70{
  padding-bottom: 70px
}
.paddinglr20{
  padding:0px 20px;
}





.navbar .nav > li > a{
  color: #453221;
}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
  background-color: white;
}


.text-white{
  color:white;
}



p.content-header{
  font-weight: bold
}

/*Contact*/
hr{
  margin:0px 0px !important;
  border-top: 1px solid rgb(175,209,38);
  border-bottom: 1px solid #ffffff;
}
.line-weight1{
  line-height: 1;
}
p.text-wrap{
  text-wrap:normal;
}
p.width11{
  width: 11em;
}

.box{
  border: 1px solid ;
  border-color: rgb(175,209,38);
  border-radius: 5px;
  padding:18px;
}

.left-border{
  border-left: 1px solid rgb(175,209,38)
}

@font-face
{
font-family: Black;
src: url(./Fonts/DINNextLTPro-Black.otf);
}

@font-face
{
font-family: BlackCondensed;
src: url(./Fonts/DINNextLTPro-BlackCondensed.otf);
}

@font-face
{
font-family: BlackItalic;
src: url(./Fonts/DINNextLTPro-BlackItalic.otf);
}

@font-face
{
font-family: Bold;
src: url(./Fonts/DINNextLTPro-Bold.otf);
}

@font-face
{
font-family: BoldCondensed;
src: url(./Fonts/DINNextLTPro-BoldCondensed.otf);
}

@font-face
{
font-family: BoldItalic;
src: url(./Fonts/DINNextLTPro-BoldItalic.otf);
}

@font-face
{
font-family: Condensed;
src: url(./Fonts/DINNextLTPro-Condensed.otf);
}

@font-face
{
font-family: Heavy;
src: url(./Fonts/DINNextLTPro-Heavy.otf);
}

@font-face
{
font-family: HeavyCondensed;
src: url(./Fonts/DINNextLTPro-HeavyCondensed.otf);
}

@font-face
{
font-family: HeavyItalic;
src: url(./Fonts/DINNextLTPro-HeavyItalic.otf);
}

@font-face
{
font-family: Italic;
src: url(./Fonts/DINNextLTPro-Italic.otf);
}

@font-face
{
font-family: Light;
src: url(./Fonts/DINNextLTPro-Light.otf);
}

@font-face
{
font-family: Light;
src: url(./Fonts/DINNextLTPro-Light.otf);
}

@font-face
{
font-family: LightCondensed;
src: url(./Fonts/DINNextLTPro-LightCondensed.otf);
}

@font-face
{
font-family: LightItalic;
src: url(./Fonts/DINNextLTPro-LightItalic.otf);
}

@font-face
{
font-family: Medium;
src: url(./Fonts/DINNextLTPro-Medium.otf);
}

@font-face
{
font-family: MediumCond;
src: url(./Fonts/DINNextLTPro-MediumCond.otf);
}

@font-face
{
font-family: MediumItalic;
src: url(./Fonts/DINNextLTPro-MediumItalic.otf);
}

@font-face
{
font-family: Regular;
src: url(./Fonts/DINNextLTPro-Regular.otf);
}

@font-face
{
font-family: UltraLight;
src: url(./Fonts/DINNextLTPro-UltraLight.otf);
}

@font-face
{
font-family: UltraLightCond;
src: url(./Fonts/DINNextLTPro-UltraLightCond.otf);
}

@font-face
{
font-family: UltraLightIt;
src: url(./Fonts/DINNextLTPro-UltraLightIt.otf);
}

@font-face
{
font-family: Bold_0;
src: url(./Fonts/DINNextLTPro-Bold_0.otf);
}

@font-face
{
font-family: Light_0;
src: url(./Fonts/DINNextLTPro-Light_0.otf);
}

@font-face
{
font-family: Medium_0;
src: url(./Fonts/DINNextLTPro-Medium_0.otf);
}

@font-face
{
font-family: Regular_0;
src: url(./Fonts/DINNextLTPro-Regular_0.otf);
}





