.howtoorder{
	padding: 40px 20px 0px 0px;
  min-height: 810px;
}

.whatInsideP{
  padding-left: 30px;
  font-style: italic;
}

.MembersBenefits{
  text-align:justify;
}

.margin-left20px {
  margin-left: 20px !important;
}

.verticalLine {
    border-left: 1px solid black;
}
.border-left{
	border-left: 1px solid rgb(175,209,38);;
}

.benefits-image{
	float: left;

display: block;
vertical-align: middle;
}
td.width40 {
	width:40px;
}

.line-height1.5{
	line-height: 1.5;
}