.howtoorder{
  min-height: 810px;
}

.whatInsideP{
  padding-left: 30px;
  font-style: italic;
}

.MembersBenefits{
  text-align:justify;
}

.margin-left20px {
  margin-left: 20px !important;
}

.verticalLine {
    border-left: 1px solid black;
}