.workoutdetail{
  /*min-height: 845px;*/
  padding: 40px 0px  0px 0px;
}

.videoTitleDiv{
  padding-left: 20px;
}

.descriptionVideo{
  text-align: left;
  margin: 20px 0px;
}
.discription-content{
	margin-bottom: 80px;
}