.workout{
  /*min-height: 915px;*/
  margin-top: 20px;
}

.imageDiv{
  width: 296px;
  height: 264px;
}

.imageDiv:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: url(/assets/svg/grayscale.svg);
  filter: gray;
}

.workout-title{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  display: inline-block;
  font-family: 'din_next_lt_probold';
  color:#bcd630;
  font-size: 23px;
}

.workout-category{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  display: inline-block;
  font-family: 'din_next_lt_probold';
  color: #ffffff;
  font-size: 23px;
}

.image-container{
  width: 273px;
  float:left;
  padding:20px;
}
img.grayscale{ 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
img.grayscale:hover{ 
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}
.image-caption{
  width:273px;
  text-align: center;
  position: absolute;
  display: inline-block;
  margin-top: 100px;
  line-height: 1.5;
  z-index: 2
}

